.section__first {
  box-sizing: border-box;
  position: relative;
  // min-width: 450px;
  color: var(--primary-white-color);
  background-color: #141429;
  .section__first_box {
    box-sizing: border-box;
    padding-top: 221px;
    height: 806px;
  }
}
.section__first-container {
  position: relative;
  z-index: 2;
  // padding-top: 131px;
}
.first-text__title {
  margin-bottom: 13px;
  font-size: 52px;
  line-height: 60px;
}
.first-text__subtitle {
  font-size: 28px;
  line-height: 32px;
}
.first-text__button {
  display: block;
  margin: 43px auto 77px auto;
  width: 186px;
  height: 44px;
  border: 2px solid var(--primary-white-color);
  background-color: transparent;
  border-radius: 20px 20px 20px 0px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--primary-white-color);
  &:hover,
  &:focus {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
  }
}
.section__first-cloud {
  display: none;
}

.section__first-img {
  margin-left: -27px;
  height: 316px;
  width: 450px;
  background-image: url(./../img/dedcoca-mob.webp);
}
.section__first-snowflake {
  display: none;
}
.section__first-arrow {
  display: none;
}

.section__first-star-img {
  position: absolute;
  top: 11px;
  left: -210px;
  z-index: 0;
  width: 935.72px;
  height: 380.01px;
  transform: rotate(-90.06deg);

  .star-img {
    position: absolute;
    width: 7.04px;
    height: 7.04px;
    z-index: 2;
    display: inline-block;
    animation: blink 4s linear infinite;
    fill: rgb(255, 217, 0);

    &.svg-1 {
      position: absolute;
      top: 108px;
      left: 304px;
    }

    &.svg-2 {
      position: absolute;
      top: 212px;
      left: 461px;
    }
    &.svg-3 {
      position: absolute;
      top: 158px;
      left: 481px;
    }
    &.svg-4 {
      position: absolute;
      top: 247px;
      left: 256px;
    }
    &.svg-5 {
      position: absolute;
      top: 92px;
      left: 199px;
    }
    &.svg-6 {
      position: absolute;
      top: 339px;
      left: 244px;
    }
    &.svg-7 {
      position: absolute;
      top: 299px;
      right: 759px;
    }
    &.svg-8 {
      position: absolute;
      top: 200px;
      left: 200px;
    }
    &.svg-9 {
      position: absolute;
      top: 321px;
      left: 420px;
    }
    &.svg-10 {
      position: absolute;
      top: 18px;
      left: 192px;
    }
    &.svg-11 {
      position: absolute;
      top: 314px;
      left: 58px;
    }
    &.svg-12 {
      position: absolute;
      top: 310px;
      left: 317px;
    }
    &.svg-13 {
      position: absolute;
      top: 129px;
      left: 264px;
    }
    &.svg-14 {
      position: absolute;
      top: 37px;
      left: 277px;
    }
  }
}

.star-img:nth-child(1) {
  animation-delay: 1s;
}
.star-img:nth-child(1) {
  animation-delay: 1s;
}
.star-img:nth-child(1) {
  animation-delay: 1s;
}
.star-img:nth-child(2) {
  animation-delay: 2s;
}
.star-img:nth-child(2) {
  animation-delay: 2s;
}
.star-img:nth-child(2) {
  animation-delay: 2s;
}
.star-img:nth-child(3) {
  animation-delay: 3s;
}
.star-img:nth-child(3) {
  animation-delay: 3s;
}
.star-img:nth-child(3) {
  animation-delay: 3s;
}
.star-img:nth-child(4) {
  animation-delay: 4s;
}
.star-img:nth-child(4) {
  animation-delay: 4s;
}
.star-img:nth-child(4) {
  animation-delay: 4s;
}

@keyframes blink {
  0%,
  20% {
    fill: rgba(255, 217, 0, 0.5);
    transform: scale(1);
  }
  10% {
    fill: rgba(252, 214, 2, 1);
    transform: scale(1.5);
  }
}

@media screen and (min-width: 1200px) {
  .section__first {
    position: relative;
    box-sizing: border-box;
    display: flex;
    padding: 0;
    // min-width: 1440px;
    height: 100vh;
    color: var(--primary-white-color);
    .fp-tableCell {
      display: flex;
      align-items: end;
    }
    .section__first-container {
      display: flex;
      position: absolute;
      bottom: 0;
    }
  }
  // .section__first-snou-img {
  //   position: absolute;
  //   top: 94px;
  //   left: -66px;
  //   width: 1330px;
  //   height: 624px;
  //   background-image: url(../../img/Snow.webp);
  // }

  .section__first-star-img {
    position: absolute;
    top: 29px;
    left: 78px;
    width: 1330px;
    height: 624px;
    transform: rotate(0deg);
    background-image: url(../../img/Stars.webp);
    .star-img {
      position: absolute;
      width: 15px;
      height: 15px;

      &.svg-1 {
        position: absolute;
        top: 114px;
        left: 311px;
      }

      &.svg-2 {
        position: absolute;
        top: 171px;
        left: 416px;
      }
      &.svg-3 {
        position: absolute;
        top: 140px;
        left: 481px;
      }
      &.svg-4 {
        position: absolute;
        top: 221px;
        left: 749px;
      }
      &.svg-5 {
        position: absolute;
        top: 279px;
        left: 40px;
      }
      &.svg-6 {
        position: absolute;
        top: 291px;
        left: 527px;
      }
      &.svg-7 {
        position: absolute;
        top: 386px;
        right: -3px;
      }
      &.svg-8 {
        position: absolute;
        top: 315px;
        left: 231px;
      }
      &.svg-9 {
        position: absolute;
        top: 360px;
        left: 403px;
      }
      &.svg-10 {
        position: absolute;
        top: 149px;
        left: 1105px;
      }
      &.svg-11 {
        position: absolute;
        top: 476px;
        left: 663px;
      }
      &.svg-12 {
        position: absolute;
        top: 505px;
        left: 383px;
      }
      &.svg-12 {
        position: absolute;
        top: 164px;
        left: 17px;
      }
      &.svg-14 {
        position: absolute;
        top: -2px;
        left: 298px;
      }
    }
  }

  .star-img:nth-child(1) {
    animation-delay: 1s;
  }
  .star-img:nth-child(1) {
    animation-delay: 1s;
  }
  .star-img:nth-child(1) {
    animation-delay: 1s;
  }
  .star-img:nth-child(2) {
    animation-delay: 2s;
  }
  .star-img:nth-child(2) {
    animation-delay: 2s;
  }
  .star-img:nth-child(2) {
    animation-delay: 2s;
  }
  .star-img:nth-child(3) {
    animation-delay: 3s;
  }
  .star-img:nth-child(3) {
    animation-delay: 3s;
  }
  .star-img:nth-child(3) {
    animation-delay: 3s;
  }
  .star-img:nth-child(4) {
    animation-delay: 4s;
  }
  .star-img:nth-child(4) {
    animation-delay: 4s;
  }
  .star-img:nth-child(4) {
    animation-delay: 4s;
  }

  @keyframes blink {
    0%,
    20% {
      fill: rgba(255, 217, 0, 0.5);
      transform: scale(1);
    }
    10% {
      fill: rgba(252, 214, 2, 1);
      transform: scale(1.5);
    }
  }

  .section__first-arrow {
    display: block;
    position: absolute;
    bottom: 51px;
    left: 160px;
    width: 34px;
    height: 34px;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-delay: 5s;
    -moz-animation-delay: 5s;
    -o-animation-delay: 5s;
    animation-delay: 1s;
    transition-timing-function: ease-in;
    transition-duration: 10s;
    animation-iteration-count: 3;
  }
  @keyframes bounce {
    from,
    20%,
    40%,
    60%,
    80%,
    to {
      -webkit-animation-timing-function: cubic-bezier(1.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    40% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }

    70% {
      -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
      -webkit-transform: translate3d(0, 12px, 0);
      transform: translate3d(0, 12px, 0);
    }

    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0);
    }
  }

  .section__first-text {
    position: relative;
    z-index: 3;
    margin-left: 148px;
    display: block;
    // height: 574px;
    margin-top: 77px;
  }
  .section__first-img {
    position: relative;
    margin-left: -27px;
    width: 883px;
    width: 1192px;
    height: 574px;
    background-image: url(./../img/dedcoca-desctop.webp);
  }

  .first-text__title {
    margin-bottom: 20px;
    font-size: 72px;
    line-height: 83px;
  }
  .first-text__subtitle {
    font-size: 38px;
    line-height: 44px;
  }
  .first-text__button {
    display: block;
    margin: 27px 0 0 0;
    width: 186px;
    height: 44px;
    border: 2px solid var(--primary-white-color);
    background-color: transparent;
    border-radius: 20px 20px 20px 0px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: var(--primary-white-color);
    &:hover,
    &:focus {
      background-color: var(--primary-white-color);
      color: var(--primary-text-color);
    }
  }
  .section__first-cloud {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    left: 110px;
    bottom: 252px;
    // padding-top: 53px;
    opacity: 0;
    width: 222.97px;
    height: 166.11px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: var(--primary-white-color);
    box-shadow: 4px 5px 15px rgba(255, 255, 255, 0.25);
    transform: rotate(-0.15deg);

    &:after {
      content: "";
      position: absolute;
      // top: 60px;
      // right: -60px;
      // transform: rotate(-10deg);
      top: 10px;
      right: -45px;
      transform: rotate(-28deg);
      border: 18px solid transparent;
      // box-shadow: 4px 5px 15px rgba(255, 255, 255, 0.25);
      border-left: 65px solid rgb(255, 255, 255);
      display: block;
      width: 0;
      height: 0;
      filter: blur(2px);
    }
    .first-cloud__text {
      font-size: 18px;
      line-height: 21px;
      color: var(--primary-text-color);
      backdrop-filter: none;
    }
    &.active {
      animation: active 1s;
      transition: cubic-bezier(0.42, 0, 1, 1);
      animation-delay: 3s;
      animation-fill-mode: forwards;
    }
  }

  @keyframes active {
    0% {
      opacity: 0.25;
      -webkit-transform: scale(0.25, 0.25);
      transform: scale(0.25, 0.25);
    }
    100% {
      opacity: 1;
      -webkit-transform: scale(1, 1);
      transform: scale(1, 1);
    }
  }

  .section__first-snowflake {
    display: block;
    background-image: url(./../img/snowflake.webp);
    position: absolute;
    bottom: -18px;
    left: -227px;
    z-index: 1;
    width: 500px;
    height: 500px;
    transform: rotate(1deg);
    animation-name: spin;
    animation-duration: 15000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
