.section__second {
  min-height: 1239px;
  padding-top: 94px;
  background-image: url(./../img/slider-2-mob.jpg);
  .fp-tableCell {
    display: block;
  }
}
.section__second-container {
  position: relative;
  z-index: 2;
}
.section__second-text {
  padding-top: 84px;
  margin-bottom: 74px;
}
.second-text__title {
  margin-bottom: 25px;
  font-size: 52px;
  line-height: 60px;
}
.second-text__subtitle {
  margin-bottom: 34px;
  font-size: 28px;
  line-height: 32px;
}
.section__second-circle {
  box-sizing: border-box;
  display: flex;
  width: 111px;
  height: 111px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 5px solid #ffffff;

  &:hover,
  &:focus {
    background-color: transparent;
  }
}
.section__second-picture {
  display: flex;
  justify-content: center;
  align-items: center;
    .second-circle__img {
      width: 51.64px;
      height: 89.95px;
  
  }
  .section__second-circle.content{
    .second-circle__img {
      width: 91.61px;
  height: 69.4px;
    }
  }
  .section__second-circle.white-color .second-circle__img {
      width: 70.52px;
      height: 74.4px;
    }
}

.second-circle__img {
  display: block;
}
.section__second-box {
  width: 392px;
  height: 1180px;
  margin: 0 auto;
  justify-content: center;
}
.second-box__img {
  margin: 0 auto;
  width: 136.73px;
  height: 239.5px;
}
.second-box__title {
  margin-bottom: 30px;
  font-size: 42px;
  line-height: 49px;
  text-align: center;
}
.second-box__subtitle {
  font-size: 28px;
  line-height: 33px;
}

.gallery-hero {
  width: 400px;
  position: relative;
  z-index: 2;
  list-style: none;
  margin-bottom: 160px;

  .gallery__item {
    //   display: inline-block;
    vertical-align: middle;

    margin-right: 34px;

    &:last-child {
      margin-right: 0px;
    }
  }

  input[name="select"] {
    display: none;
  }

  .item-hugger {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 111.05px;
    height: 111.05px;
    transition: all 150ms ease-in-out;
    &.center {
      left: 135px;
    }
    &.last {
      top: 0;
      left: 275px;
    }
  }

  label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    opacity: 0;
  }

  .item-hugger__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 430px;
    font-size: 25px;
    color: rgb(252, 252, 252);
    transition: all 150ms linear;
    margin: 5px;
    list-style: circle;
    background-size: 20px;
  }

  .content {
    position: absolute;
    top: 190px;
    // right: -115px;
    opacity: 0;
  }

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.25);
  }

  ::-webkit-scrollbar-thumb {
    background: #b88e3b;
  }
  input[name="select"]:checked + .item-hugger {
    height: 60px;
    margin: 0;
  }

  input[name="select"]:checked ~ .content {
    opacity: 1;
  }
  .section__second-circle {
    background-color: var(--primary-white-color);
  }
  input[name="select"]:checked + .item-hugger .section__second-circle {
    background-color: transparent;
  }
}

@media screen and (min-width: 1200px) {
  .section__second {
    height: 100vh;
    max-width: 1440px;
    background-image: url(./../img/slider-2-.jpg);
    background-size: cover;
    .fp-tableCell {
      display: block;
      padding-bottom: 100px;
      align-items: end;
    }
  }
  .section__second-text {
    width: 716px;
    padding-top: 91px;
    margin-left: 33px;
    margin-right: 18px;
    margin-bottom: 172px;
  }
  .second-text__title {
    margin-top: 191px;
    margin-left: 32px;
    width: 716px;
    height: 130px;
    font-size: 56px;
    line-height: 65px;
  }
  .second-text__subtitle {
    margin: 30px 0;
    margin-left: 32px;
    font-size: 38px;
    line-height: 44px;
  }
  .section__second-picture {
    justify-content: start;
  }
  .section__second-circle {
    width: 149.78px;
    height: 149.78px;
  }
  .section__second-picture {
    .section__second-circle {
      .second-circle__img {
        width: 69.65px;
        height: 121.33px;
      }
      &.white-color {
        .second-circle__img {
          width: 95.11px;
          height: 100.36px;
        }
      }
      &.center {
        .second-circle__img {
          width: 123.57px;
          height: 93.62px;
        }
      }
    }
  }
  .section__second-box {
    display: flex;
    flex-direction: row-reverse;
    width: 553px;
    height: 405px;
    margin: 0;
    margin-bottom: 160px;
    padding: 59px 38px 38px 35px;
    border: 3px solid #ffffff;
    box-sizing: border-box;
    border-radius: 20px;
    div.center{
      display: flex;
      align-items: center;
    }
  }
  .second-box__img {
    width: 148.06px;
    height: 256.68px;
    &.center{
      height: 165px;
    }
    &.last{
      height: 200px;
      margin-right: -28px;
    }
  }
  .second-box__title {
    text-align: start;
    font-size: 42px;
    line-height: 49px;
  }
  .second-box__subtitle {
    font-size: 28px;
    line-height: 33px;
  }

  .gallery-hero {
    width: 1200px;
    position: relative;
    z-index: 2;
    list-style: none;
    margin-bottom: 160px;

    .gallery__item {
      //   display: inline-block;
      vertical-align: middle;

      margin-right: 34px;

      &:last-child {
        margin-right: 0px;
      }
    }

    input[name="select"] {
      display: none;
    }

    .item-hugger {
      display: block;
      position: absolute;
      top: 0;
      left: 32px;
      width: 111.05px;
      height: 111.05px;
      transition: all 150ms ease-in-out;
      &.center {
        left: 214px;
      }
      &.last {
        top: 0;
        left: 396px;
      }
    }

    label {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      opacity: 0;
      width: 150px;
      height: 150px;
    }

    .item-hugger__title {
      position: absolute;
      top: 0;
      left: 0;
      width: 430px;
      font-size: 25px;
      color: rgb(252, 252, 252);
      transition: all 150ms linear;
      margin: 5px;
      list-style: circle;
      background-size: 20px;
    }
  }
  .gallery-hero .content {
    position: absolute;
    top: -235px;
    right: -115px;
    opacity: 0;
  }
}
