header {
  position: relative;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 99999;
  width: 100%;
  margin: 0 auto;
  max-width: 450px;
}
nav {
  position: relative;
  z-index: 3;
  box-sizing: border-box;
  width: 100%;
  padding: 0 27px;
  align-items: center;
}
.logo {
  margin-top: 25px;
  margin-left: 27px;
  width: 198px;
  height: 65px;
}
.nav__item {
  display: none;
}

@media screen and (min-width: 1200px) {
  .nav {
    position: fixed;
    top: 38px;
    left: 50%;
    transform: translate(-50%);
    z-index: 9999;
    display: flex;
    padding: 0 49px;
    width: 1440px;
    align-items: center;
  }
  .logo {
    margin: 0;
    width: 198px;
    height: 65px;
  }
  .nav__item {
    margin-left: 512px;
    display: flex;
  }
  .nav__list {
    margin-right: 34px;
    width: 68px;
    height: 22px;
    &:last-child {
      margin: 0;
    }
    a {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: var(--primary-white-color);
    }
  }

  $speed: 0.5s;

  .btn-flip {
    opacity: 1;
    color: #fff;
    position: relative;
    text-align: center;

    &:hover {
      &:after {
        transform: translateY(0) rotateX(0);
      }

      &:before {
        transform: translateY(-50%) rotateX(90deg);
      }
    }

    &:after {
      top: 0;
      left: 0;
      opacity: 1;
      width: 100%;
      display: block;
      color: var(--accent-color);
      transition: $speed;
      position: absolute;
      content: attr(data-back);
      transform: translateY(50%) rotateX(90deg);
    }

    &:before {
      top: 0;
      left: 0;
      opacity: 1;
      color: #fff;
      display: block;
      transition: $speed;
      position: relative;
      // background: #323237;
      content: attr(data-front);
      transform: translateY(0%) rotateX(0);
    }
  }
}
